NEO4J_URI=
NEO4J_USERNAME=
NEO4J_PASSWORD=
NEO4J_DATABASE=
AURA_INSTANCEID=
AURA_INSTANCENAME=
NOSIS_USER=
NOSIS_PASSWORD=
JWT_SECRET=
JWT_EXPIRES_IN=
FRONT_ROUTE=
PORT=
LOG_ROUTE=
LOG_DOC=
DATA_ROUTE=